* {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;

}

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    font-family: 'Poppins', ui-sans-serif;
}

/* Navigation bar */
.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.Navbar::before {
    content: "";
    background: rgb(126, 231, 185);
    background: linear-gradient(90deg, rgba(126, 231, 185, 1) 0%, hwb(153 64% 29%)  36%);
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container .logo-text {
    color: #000;
    letter-spacing: var(--ls);
    font-size: 3.8rem;
    font-family: 'Poor Story', system-ui;
    padding-bottom: 5px;
}

.logo {
    margin-left: 15px;
    /* height: 76px; */
    width: 82px;


}

.logo img {
    width: 100%;
}

.right-nav {

    margin: -4px 42px 0px 0px;
    padding: 10px 20px;
    font-size: 3.1rem;
    cursor: pointer;

}

.right-nav button {
    letter-spacing: 2px;
    background-color: rgb(114, 206, 128);
    color: #fff;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    width: 110px;
    font-size: 1.9rem;
    height: 35px;
    font-weight: 700;
    box-shadow: 2px 2px 2px black;

}

.right-nav button:hover {
    background-color: #eefbea;
    color: #000;
}

.Navbar ul {
    display: flex;

    padding: 0px 76px 0px 0px;

}

.Navbar ul li a {
    font-size: 2.5rem;
    padding: 0px 29px;
    color: #fff;
    border-radius: 23px;
    display: block;
    
    cursor: pointer;
}

.Navbar ul li a:hover {
    background-color: #eefbea;
    color: #000;
}

.Navbar ul li a:visited {
    transition: 3s;
}

.menu {
    font-size: 4.8rem;
    margin-right: 20px;
}

.menu {
    display: none;
    background: transparent;
}

#cross {
    display: none;
}

.background {
    width: 100vw;
    height: 66vh;
    filter: blur(2px);
}

.text-container {
    padding: 0px 8px 0px 30px;
    font-size: 4rem;
    background: rgb(249, 249, 249);
    background: linear-gradient(90deg, rgb(0, 0, 0)5) 0%, hwb(0 100% 0%)  57%);
    width: 12%;
    border-radius: 0px 14px 14px 0px;

}

.text-container h1 {
    font-weight: bold;
    color: #340101;
    padding: 11px 8px 11px 0px;
}

.popular-car-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0px 0px 116px 0px;
}

.homepage {
    background: #ffffff;
}

.cars {
    position: relative;
    top: -244px;

}

.card {
    margin-top: 20px;
    width: 320px;
    background: rgb(238, 251, 234);
    background: linear-gradient(0deg, rgba(238, 251, 234, 1) 2%, hwb(153 64% 29%) 45%);
  
    border-radius: 5px;
    height: 56vh;
    border-radius: 5px;
    box-shadow: 7px 5px 5px black;
    padding-bottom: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card-image {
    width: 100%;
}

.card-button {
    display: block;
    padding: 6px 0px;

    border-radius: 50px;
    font-size: 17px;
    width: 112px;
    margin: 0px auto;
    background-color: rgb(239, 255, 60);
    box-shadow: 1px 2px 2px black;
}

.card-button:hover {
    background-color: rgb(195, 228, 85);
}

.card-info p {
    font-size: 2rem;
    font-weight: 600;
    padding: 6px;
}

.card-info {
    height: fit-content;
    width: 250px;
    margin: 1px auto;
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;

    background-color: #daf0ed;
    box-shadow: 2px 2px 5px black;
}


.info{

    background-color: #75b7b0;
    color: #020202;
    text-align: center;
    padding: 27px;
    position: relative;
    bottom: 2;
    width: 100%;
    font-size: 2 rem;
    font-weight: 600;
   font-size: 5rem;
}
.info h2{
text-align: justify;
color: rgb(179, 18, 18);
}
.info ul{
text-align: justify;
font-family: 'Titillium Web', sans-serif;
}


footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Poor Story', system-ui;
}





.footer-social {
    margin-top: 20px;
}

.footer-social a {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.footer-social a i {
    font-size: 1.9rem;
}


.footer-contact-details {
    margin-top: 9px;
    font-size: 2.9rem;
}
.footer-contact-details p {
    margin-top: 5px;
    
}







































/* Queries */
@media(max-width:1024px) {
    .Navbar .menu {
        display: block;
        margin-right: 15px;
        z-index: 1;
        cursor: pointer;

    }

    .Navbar .menu #cross {

        font-size: 5rem;
    }

    .Navbar .menu #hamburger {

        font-size: 4rem;
    }

    .Navbar {
        position: relative;
    }

    .Navbar .navbar-list {
        z-index: 1;
        width: 100%;
        height: 100vh;
        position: absolute;
        background: rgb(238, 242, 237);
        background: linear-gradient(0deg, rgba(238,251,234,1) 2%, rgb(192, 242, 220) 45%);
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateX(100%);
        transition: all 0.5s linear;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .Navbar ul li {
        font-size: 7rem;
        padding: 20px 0px;
    }

    .active .Navbar .navbar-list {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .active .menu #cross {
        display: block;
    }

    .active .menu #hamburger {
        display: none;
    }
    .Navbar .logo-container{
        display: none;
    }
    .popular-car .text-container{
        width: 20%;
    }
}
@media(max-width:720px) {
    .popular-car .text-container{
        width: 50%;
    }
}
